ck_wall();                   //
    set_goal();                     //decide goll
    A_star();                       //A*process<?xml version="1.0"?>

<launch>

    <arg name="map_file" default="$(find chibi21_b)/map/map.yaml"/>
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" output="screen"/>
    <node pkg="chibi21_b" type="Global_path_planner" name="Global_path_planner" output="screen"/>
    <node pkg="chibi21_b" type="local_goal_creator" name="local_goal_creator" output="screen"/>
</launch>
